<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="{{ canonical_url }}">
    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}
    <title>
      {{ shop.name }}
    </title>
    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}
    {% render 'meta-tags' %}
    {{ 'styles.css' | asset_url | stylesheet_tag }}
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet" media="print" onload="this.media='all'">
    {{ content_for_header }}
  </head>
  <body>
    <main>
      {{ content_for_layout }}
    </main>
    <script src="{{ 'constants.js' | asset_url }}" defer type="module"></script>
  </body>
</html>
