{{ 'section-password.css' | asset_url | stylesheet_tag }}
{{'component-input.css' | asset_url | stylesheet_tag }}

<section class="password section container margin-auto">
  <div class="password__inner section__inner">
    <div class="section__header section__header--column">
      <div class="section__info">
        <h1 class="password__title section__title h3">{{ section.settings.title }}</h1>
        <div class="password__description section__description">{{ section.settings.description }}</div>
      </div>
      {% form 'storefront_password', class: "password__form" %}
        <input type="password" name="password" class="password__input input" placeholder="{{ 'password.enter_password_placeholder' | t }}">
        <button type="submit" class="password__submit-button button bold">{{ 'general.submit' | t }}</button>
        {% if form.errors != blank %}
          <div class="password__errors">
            {{ form.errors | default_errors }}
          </div>
        {% endif %}
      {% endform %}
    </div>
  </div>
</section>

{% schema %}
{
    "name": "Password",
    "limit": 1,
    "settings": [
        {
            "type": "inline_richtext",
            "id": "title",
            "label": "Title",
            "default": "This store is password protected"
        },
        {
            "type": "inline_richtext",
            "id": "description",
            "label": "Short description",
            "default": "Enter the store password to access it."
        }
    ]
}
{% endschema %}